<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Friction for wheels -->
    <gazebo reference="rear_left_wheel_link">
        <mu1 value="7" />
        <mu2 value="7" />
    </gazebo>

    <gazebo reference="rear_right_wheel_link">
        <mu1 value="7" />
        <mu2 value="7" />
    </gazebo>

    <!--slippery front wheels-->
    
    <gazebo reference="front_caster_link">
        <mu1 value="0.1"/>
        <mu2 value="0.1"/>
    </gazebo>
    <gazebo reference="rear_caster_link">
        <mu1 value="0.1"/>
        <mu2 value="0.1"/>
    </gazebo>

    <!-- Differential Drive Plugin -->
    <gazebo>
        <plugin
            filename="gz-sim-diff-drive-system"
            name="gz::sim::systems::DiffDrive">
            <left_joint>rear_left_wheel_joint</left_joint>
            <right_joint>rear_right_wheel_joint</right_joint>
            <wheel_separation>0.588</wheel_separation>
            <wheel_radius>0.15</wheel_radius>

            <max_wheel_torque>100</max_wheel_torque>
            <max_wheel_acceleration>2.0</max_wheel_acceleration>

            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
        </plugin>
    </gazebo>

    <!-- Joint State Publisher -->
    <gazebo>
        <plugin
            filename="gz-sim-joint-state-publisher-system"
            name="gz::sim::systems::JointStatePublisher">
            <joint_name>rear_left_wheel_joint</joint_name>
            <joint_name>rear_right_wheel_joint</joint_name>
            <joint_name>rear_caster_joint</joint_name>
            <joint_name>front_caster_joint</joint_name>
        </plugin>
    </gazebo>

</robot>
